body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
			background-color: #dad7cd;
		}
		
		head {
			margin: 0;
			padding: 0;
		}
		
		h2 p {
			margin: 0px;
		}
		
		nav {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #344e41;
		}
		
		nav li a {
			float: right;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		
		nav li a:hover {
			background-color: #3a5a40;
		}
		
		nav .LeftText {
			float: left;
			display: block;
			color: black;
			text-align: center;
			text-decoration: none;
		}
		
		.logo {
				float: left;
                height: 30px;
                margin-left: 5px;
                padding-top: 5px;   
                padding-bottom: 5px;
                padding-left: 5px;
            }
	
		.topBox {
		width: display-width; /* Sets the width of the box */
		height: 150px; /* Sets the height of the box */
		background-color: #dad7cd; /* Sets the background color */
		border-bottom: 3px solid black;
		padding-left: 50px; /* Adds space between the content and the border */
		padding-top: 0px;
		margin: 0px left; /* Adds space outside the border and centers the box horizontally */
		box-sizing: border-box; /* Ensures padding and border are included in the total width/height */
		display: grid;
		grid-template-columns: 20% 20% 60%;
		}
		
		.MissionStatement {

			list-style-type: none;
			
			
		}
		
		.MissionWords {
			justify-self: center;
			align-self: center;
			overflow: auto;
			list-style-type: none;
			text-align: center;
			
		}
		
		.insideBox {
		justify-self: center;
		align-self: center;
		width: 150px;
		height: 100px;
		border-radius: 5px;
		background-color: gray;
		border: 1px solid black;
		box-sizing: border-box;
		
		}
		
		.insideBox img {
			overflow: hidden;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		
		.BodyHold {
			display: flex;
			gap: 0;
		}
		
		.Item {
			margin-top: 50px;
			height: 500px;
		}
		
		.JobFair{
			overflow: auto;
			width: 17%;
			height 500px;
			border-top: 0px none;
			border-bottom: 0px none;
			border-left: 2px solid black;
			border-right: 2px solid black;
			box-sizing: border-box;
			background-color: #a3b18a;
			margin-right: 50px;
			<!--text-align: center;-->
			display: grid;
			place-items: center;
		}
		
		.JobFair h3 {
			text-align: center;
			width: 85%;
			padding-bottom: 20px;
			border-bottom: 2px solid black;
			align-items: center
		}
		
		.Fair {
			overflow: auto;
			width: 90%;
			height: 25%;
			border: 2px solid #4e724d;
			border-radius: 15px;
			background-color: #588157;
			margin-bottom: 2vh;	
		}
		
		.Fair a {
			margin-bottom: 5%;
			color: white;
			text-align: center;
			/* margin-left: 11%; */
            justify-self: center;
		}
		
		.FairPicture {
			overflow: hidden;
			width: 80%;
			height: 60%;
			line-height: 70%;
			background-color: gray;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			text-align: center;
			margin-top: 5%;
			margin-left: 10%;
			margin-bottom: 2.5%;
		}
		
		.FairPicture p {
			padding-top: 10%;
			transform: rotate(45deg);
		}
		
		.AccTab {
			overflow: hidden;
			width: 70vw;
			height: 150px;
			border-radius: 15px;
			background-color: #a3b18a;
			
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1%;
		}
		
		
		.AccFirstColumn {
			justify-self: center;
			align-self: center;
			width: 30%;
			height: 80%;
		}
		
		.AccSecondColumn {
			padding-top: 5%;
		}
		
		.AccThirdColumn {
			padding-top: 5%;
		}
		
		.AIcon {
			overflow: hidden;
			width: 100%;
			height: 80%;
			border: 1px solid black;
			border-radius: 10px;
			background-color: gray;
		}
		
		.AIcon p {
			padding-top: 15%;
			text-align: center;
			transform: rotate(25deg);
		}
		
		
		
		.AccBlock {
			overflow: hidden;
			width: 75%;
			height: 40%;
			border: 1px solid #4e724d;
			border-radius: 10px;
			background-color: #588157;
			margin-bottom: 2%;
			text-align: center;
		}
		
		.DoubleTab {
			display: flex;	
			margin-top: 40px;
		}
		
		.StatusTab {
			overflow: hidden;
			width: 39.5vw;
			height: 100px;
			border-radius: 15px;
			background-color: #a3b18a;
			margin-right: 20px;
			
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 0;
			
		}
		
		.StatusFirstColumn {
			overflow: hidden;
			width: 75%;
			align-self: center;
		}
		
		.StatusFirstColumn h3 {
			overflow: auto;
			height: 15%; 
			text-align: center;
			border-right: 1px solid black;
		
		}
		
		.StatusSecondColumn {
			overflow: hidden;
			padding-top: 5%;
		}
		
		.StatusThirdColumn {
			overflow: hidden;
			padding-top: 5%;
		}
		
		.StatusBlock {
			overflow: hidden;
			width: 75%;
			height: 40%;
			border: 1px solid #4e724d;
			border-radius: 10px;
			background-color: #588157;
			margin-bottom: 2%;
			text-align: center;
			display: flex;
		}
		
		.StatusBlock p {
			margin-left: 3%;
		}
		
		.StatusOvalG {
			overflow: hidden;
			margin-left: 10%;
			margin-top: 2%;
			overflow: hidden;
			width: 50%;
			height: 75%;
			border: 1px solid black;
			border-radius: 10px;
			background-color: green;
			margin-bottom: 50%;
			text-align: center;
		}
		
		.StatusOvalG p {
			overflow: hidden;
		}
		
		.StatusOvalR {
			overflow: hidden;
			margin-left: 10%;
			margin-top: 2%;
			overflow: hidden;
			width: 50%;
			height: 75%;
			border: 1px solid black;
			border-radius: 10px;
			background-color: red;
			margin-bottom: 50%;
			text-align: center;
		}
		
		.StatusOvalR p {
			overflow: hidden;
		}
		
		.HelpTab {
			overflow: hidden;
			width: 29.5vw;
			height: 100px;
			border-radius: 15px;
			background-color: #a3b18a;
			
			display: grid;
			grid-template-columns: 25% 50% 25%;
			gap: 0;
			
		}
		
		.HelpTab h2 {
			overflow: hidden;
			height: 100%;
			width: 100%;
		}
		
		.HelpColumnOne {
			height: 100%;
			width: 100%;
			justify-self: center;
			align-self: center;
			text-align: center;
		}
		
		.HelpColumnTwo {
			text-align: center;
		}
		
		.HelpColumnTwo h2 {
			gap: -15px;
		}
		
		.HelpColumnThree {
			height: 100%;
			width: 100%;
			justify-self: center;
			align-self: center;
			text-align: center;
		}
		
		.ListingTab {
			overflow: auto;
			margin-top: 40px;
			width: 70vw;
			height: 150px;
			border-radius: 15px;
			background-color: #a3b18a;
		}
		
		.ListingTab h5 {
			text-align: center;
			margin-top: 1%;
		}
		
		.ListingCubes {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
		
		.ListingOne {
			height: 100px;
			text-align: center;
			border-top: 1px solid black;
			border-right: 1px solid black;
		}
		
		.ListingFour {
			height: 100px;
			text-align: center;
			border-top: 1px solid black;
		}

		
		.PlayButton {
			justify-self: center;
			align-self: center;
			
			height: 55%;
			width: 25%;
		}
		
		.PlayButton img {
			overflow: hidden;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		
		.ValueProposition{
			width = 100%;
			border-top: 3px solid black;
		}
		
		.ValueProposition h2 {
			text-align: center;
		}
		
		.ValueSeparate {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		
		.StudentValue {
			text-align: center;
			border-top: 1px solid black;
		}
		
		.CompanyValue {
			text-align: center;
			height: 100%;
			border-top: 1px solid black;
			border-left: 2px solid black;
		}
		
		.HowItWorks {
			width = 100%;
			border-top: 3px solid black;
		}
		
		.HowItWorks  {
			text-align: center;
		}
		
		
		.HowItWorks ol {
			display: inline-block;
			text-align: left;
		}
		
		
		footer {
                background-color: #3a5a40;
                color: white;
                text-align: center;
                font-size: small;
                padding: 1px 0;
                margin-top: 0px;
            }